*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
}

main{
    height: calc(100vh - 5rem);
    position: relative;
    color: rgb(153, 24, 24);
    background-color: black;
}

footer{
    height: 5rem;
    width: 100vw;
    position: fixed;
    background-color: #222222;
    z-index: 1;
}

main .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(142, 240, 142);
    width: 1800px;
    height: 70vh;
    margin-top: 3vh;
    flex-wrap: wrap;
}

.container .box{
    display: inline-block;
    width: calc((100% / 7) - 0.2rem);
    height: 150px;
    background-color: aquamarine;
    border: 2px solid black;
    margin-left: 0.2rem;
}

.no-margin{
    margin-left: 0;
}