*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
}

main{
    height: calc(100vh - 5rem);
    width: 100vw;
    position: relative;
    color: rgb(153, 24, 24);
    background-color: black;
}

footer{
    height: 5rem;
    width: 100vw;
    position: fixed;
    background-color: #222222;
    z-index: 1;
}

main .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.container .box{
    display: inline-block;
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    border: 2px solid black;
    margin-left: 0.6rem;
    margin-bottom: 1.6rem;
}

.no-margin{
    margin-left: 0;
}